:root {
  --text-color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 100vh;
}

.layout {
  display: grid;
  height: 100vh;
  grid-template: 1fr 5fr / 0.7fr 4fr;
  grid-template-areas: "sidebar header"
                       "sidebar main";
}

.icons {
  width: 1.4rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 2px;
}

/* Header style */

.header {
  display: grid; 
  grid-template: 1fr 1fr / 3fr 1fr;
  background-color: #eef2ff;
  grid-area: header;
  padding: 0.6rem 3rem;
}

.search-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
}

#search {
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: #e0e7ff;
  width: 80%;
  height: 1.9rem;
}

.profile-container > #profile {
  width: 40px;
}

#profile {
  width: 60px;
  border-radius: 50%;
}

.intro {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.intro div:last-child p:first-child {
  font-weight: 700;
  font-size: 0.8rem;
}

.intro div:last-child p:last-child {
  font-size: 1.4rem;
  font-weight: 700;
}

.intro a:hover {
  color: rgb(84, 84, 84);
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-btns > button {
  cursor: pointer;
  padding: 9px 24px;
  border-radius: 32px;
  border: 1px solid transparent;
  background-color: #6366f1;
  color: var(--text-color);
}

.header-btns > button:hover {
  background-color: #3730a3;
}

/* Sidebar style */

.sidebar {
  background-color: #6366f1;  
  grid-area: sidebar;
}

.nav ul:last-child {
  margin: 3rem 0px;
}

.nav span {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

.nav span:hover {
  color: #c3c6cf;
}

.nav > ul > li{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  color: var(--text-color);
  margin: 1.4rem;
}

#logo-header {
  margin-bottom: 3rem;
}

#logo-header > span {
  font-size: 1.5rem;
}

.nav > ul {
  list-style: none;
}

.nav .icons {
  justify-self: center;
}

.icons.logo {
  width: 3rem;
}

/* Main style */

.main {
  background-color: #e0e7ff;
  grid-area: main;
}